build/
build_clang/
build_gcc/
build_debug/
build_release/
build_shared/
.ycm_extra_conf.py*
.color_coded
compile_commands.json
*.spv
tags
Session.vim
*.srctrlbm
*.srctrldb
*.srctrlprj
build_gcc_release/
build_ubsan/
build_asan/
manifest
GPATH
GRTAGS
GTAGS
